*{
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

#userEmail{
  margin-bottom: 15px;
}

#password1{
  margin-bottom: 15px;
}
#password2{
  margin-bottom: 15px;

}

